@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}

head{
    text-align: center;
}

body{
    margin: 0;
}

h1{
    font-size: 1em;
    font-size: bold;
    text-align: center;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.1em
}

h2{
    font: bold 14px;
    font-size: 4.5px;
}

h3{
    font-size: 2em;
}

p{
    font-size: 1.25em;
}

ul{
    list-style: none;
}

li{
    font-size: 1.25em;
}

.color-fuente-titulo{
    color: blueviolet;
}

button{

    font-size: 13px;
    margin: 5px;
    padding: 15px 80px;
    border-radius: 10px;
    box-shadow: 2 px 2px 10px blueviolet;
    color: white;
    background-color: blueviolet;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.contenedor{
    max-width: 1400px;
    margin: auto;
}

header{
    background: rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
    padding: 25Px;
}

header  .contenedor{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}

header nav{
    display: inline-block;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
    font-size: 10px;
}

header a{
    padding: 5px 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.80em;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#banner-fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    color: black;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../Imagenes/Portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner-fondo h1{
    font-size: 4.5em;

}

#banner-fondo nav{
    text-align: center;
    padding: 10px 100px;
    font-size: 10px;
}

#banner-fondo a{
    text-decoration: none;
    font-size: 1.8em;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em
}

#banner-fondo a:hover{
    color: blueviolet;
    text-decoration: underline double;
}

#banner-fondo button{
    font-size: 13px;
    margin: 5px;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}


#info-javiexpress .contenedor{
    text-align: center;
    padding: 50px 12px;
}

#info-javiexpress .contenedor p{
    margin-top: 0;
    font-size: 30px;
}

#info-javiexpress p{
    font-size: 10px;
    text-align: justify;
}

#info-javiexpress h3{
    font-size: 4.5em;
    text-align: center; 
    text-shadow: gray 0.1em 0.1em 0.1em
}

#categorias{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#categorias h2{
    margin-top: 0;
    font-size: 50px;
}

#categorias .contenedor{
 
    padding: 100px 0px;
    text-align: center;
}

#categorias p{
    font-size: 1.5em;
    text-align: justify;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.1em

}

#categorias h3{
    font-size: 4.5em;
    text-align: center;
    color: white; 
    text-shadow: gray 0.1em 0.1em 0.1em
}

#categorias .cart{ 
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 80px;
    border-radius: 10px;
}

.cart:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../Imagenes/todo_en_uno.jpg");
}

.cart:nth-child(2){
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("../Imagenes/laptop.jpg");
}

.cart:nth-child(3){
    background-image: url("../Imagenes/pc_de_mesa.jpg");
}


#contacto li{
    margin: 16px 0px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;

}

#comprar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 30vh;
    text-shadow: black 0.1em 0.1em 0.1em

}

#comprar h2{
    font-size: 1.5vw;
}

footer .firma{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 15px;
}


